[Unit]
Description=Server for the MBot scratch
After=network.target

[Service]
ExecStart=/home/mbot/.nvm/versions/node/v18.20.4/bin/npm start --prefix /home/mbot/scratch/mbot-scratch-gui/

[Install]
WantedBy=multi-user.target
