[Unit]
Description=Server for the MBot Scratch GUI
After=network.target

[Service]
ExecStart=npm start --prefix /home/mbot/mbot-scratch-gui/

[Install]
WantedBy=multi-user.target
