[Unit]
Description=Server for the MBot Scratch GUI
After=network.target

[Service]
ExecStart=sudo npx -y serve -s /data/www/scratch/
[Install]
WantedBy=multi-user.target
